
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{indice+1}}.- {{ ordenesLista.nombreCombo}} - $ {{ordenesLista.costo}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Cliente: {{ordenesLista.cliente}}</h6>
      <p class="card-text">Fecha: {{ordenesLista.fecha}}</p>
      <p class="card-text">Vendedor: {{ordenesLista.vendedor}}</p>
      <p class="card-text">Propina: $ {{ordenesLista.propina}}</p>
      
      <div class="text-center">
        <a class="btn btn-outline-warning me-2" style="text-align: center;" [routerLink]="['actualizaOrden', indice]" [queryParams]="{accion: '1'}">Actualizar</a>
      <a class="btn btn-outline-danger" [routerLink]="['actualizaOrden', indice]" [queryParams]="{accion: '2'}">Eliminar</a>
      </div>
      
    </div>
  </div>
  <br>