#contenedor-ordenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-content:flex-start; 
  gap: 1rem;
}

@media (min-width: 768px) {
  #contenedor-ordenes {
      grid-template-columns: repeat(4, 1fr);
  }
}