<div class="wrapper">
  <div class="logo">
      <img src="https://img.freepik.com/psd-gratis/hamburguesa-aislada-fondo-tinta-salpicaduras_1409-3855.jpg?semt=ais_hybrid" alt="">
  </div>
  <div class="text-center mt-4 name">
      Inicio de Sesión iBurger
  </div>
  <form class="p-3 mt-3" (ngSubmit)="onLogin()">
      <div class="form-field d-flex align-items-center">
        <input id="email" [(ngModel)]="email" name="email" type="email" required placeholder="Ingrese su correo"/>
      </div>

      <div class="form-field d-flex align-items-center">
        <input id="password" [(ngModel)]="password" name="password" type="password" required placeholder="Ingrese su clave"/>
      </div>
      <button type="submit" class="btn mt-3">Iniciar Sesión</button>
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div>
  </form>

  <div class="text-center fs-6">
    <a class="text-center" href="/registro">Registrase</a>
</div>
</div>