<div class="container">
  <form class="form-group" (ngSubmit)="accion_combo()">

    <div class="form-group row" >
      
      <div class="form-group col-md-4">
        <label for="nombre">Nombre del Combo:</label>
        <input type="text" name="combo" id="combo" placeholder="Ingrese el nombre del combo" class="form-control" [(ngModel)]="cuadroNombre">
      </div>
  
      <div class="form-group col-md-4">
        <label for="nombre">Costo:</label>
        <input type="number" name="costo" id="costo" placeholder="Ingrese el costo" class="form-control" [(ngModel)]="cuadroCostoCombo">
      </div>
  
      <div class="form-group col-md-4">
        <label for="nombre">Fecha:</label>
        <input type="date" [min]="minDate" [max]="maxDate" name="fecha" id="fecha" class="form-control" [(ngModel)]="cuadroFecha">
      </div>
    </div>
    <div class="form-group row mt-4">
  
      <div class="form-group col-md-12">
        <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="cuadroDescripcion" rows="3"></textarea>
      </div>
  
    </div>
    <div class="mt-4" style="text-align: center;">
      <button type="submit" class="btn btn-outline-success">Actualizar Combo</button>
    </div>
  
  </form>
</div>
